body{

margin:0;
padding:0;
font-family:Arial;

background-image:url("pic..jpg");
background-size:cover;
background-position:center;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.container{

background:rgba(255,255,255,0.9);
padding:30px;
border-radius:15px;

width:350px;
text-align:center;

box-shadow:0 0 20px rgba(0,0,0,0.3);

}

h2{

color:#333;
margin-bottom:20px;

}

input{

width:90%;
padding:10px;
margin:8px;

border-radius:8px;
border:1px solid #ccc;

}

button{

width:45%;
padding:10px;
margin:5px;

border:none;
border-radius:8px;

background:#007BFF;
color:white;

cursor:pointer;

}

button:hover{

background:#0056b3;

}

#output{

margin-top:20px;
font-weight:bold;
color:green;

}